body{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    background-color: #3D44CA ;
    
}
h1{
    color: #FFDE00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    letter-spacing: 4px;
    
}

#container{
   display: flex;
   flex-direction: column; 
   margin-top: 15%;
    
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
    border-radius: 16px;
    padding: 20px 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.448);
    position: relative;
}


.card img{
    border-radius:100px ;
     background-color: rgb(255, 244, 244);
     margin-bottom: 15px;
     margin-top: 20px;
     
     
}
.card p{
    padding: 2px 15px;
    border-radius: 5px;
    background-color: rgb(102, 102, 102,0.306);
    display: flex;
    margin: 5px 20px 5px 20px; 
    justify-content: center;
}
.card h3{
    color: rgb(60, 56, 56);
    
    
}

.bg-grass {
    background-color: #DEFDE0;
}

.bg-electric {
    background-color: #FCF7DE;
}

.bg-water {
    background-color: #DEF3FD;
}

.bg-ground {
    background-color: #f4e7da;
}

.bg-rock {
    background-color: #d5d5d4;
}

.bg-fairy {
    background-color: #fceaff;
}

.bg-poison {
    background-color: #98d7a5;
}

.bg-bug {
    background-color: #f8d5a3;
}

.bg-dragon {
    background-color: #97b3e6;
}

.bg-psychic {
    background-color: #eaeda1;
}

.bg-flying {
    background-color: #F5F5F5;
}

.bg-fighting {
    background-color: #E6E0D4;
}

.bg-normal {
    background-color: #F5F5F5;
}

.bg-fire {
    background-color: #FDDFDF;
}

.bg-ghost {
    background-color: #705898;
}

.bg-ice {
    background-color: #98d8d8;
}

#prev-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -50px;
    border-radius: 100%;
    background-color: #FFDE00;
    color: #3D44CA;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; ;
    font-size: 20px;
}

#next-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -60px;
    font-size: 20px;
   
    border-radius: 100%;
    background-color: #FFDE00;
    color: #3D44CA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;;
}

.disbled{
    opacity: 0.5%;
}
