
.User{
    display: flex;
    border-radius: 8px;
    background-color: #FFDDD3;
    justify-content: center;

    align-items: center;
    a{
        color: black;
        margin-left: 20px;
        font-size: 25px;

    }
}