body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2632;
   
    
}

div{
    
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    padding: 10px;
    background-color: #323a4a;
    width: 350px;
    height: 150px;
    border-radius: 10px;
    font-family: "Trebuchet MS", "sans-serif";
   
}

#advice{
    display: flex;
    max-height: 40px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:  #cee3ea;
    
    
   
}
span{
    color:  #71f6a8;
    display: flex;
    justify-content: center;
    padding: 4px;
    font-family: "New Century Schoolbook", "TeX Gyre Schola", "serif";
}


button{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #71f6a8;
    box-shadow: 1px 1px 25px #52ffa8;
    border-radius: 100%;
    padding: 5px;
    margin-top: 12%;

    
    
}



#advice::after {
  content: url(https://frontend-mentor-advice-generator.netlify.app/images/pattern-divider-mobile.svg);
  margin-top:20% ;
  display: flex;
  position:absolute;
  
}