

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    box-shadow: 25px;
    border-radius: 10px;
    padding-bottom: 5px;
}

.card img{
     border-radius:100px ;
     background-color: rgb(255, 244, 244);
     margin: 10px;

}

.card p{
    
    padding: 2px 15px;
    border-radius: 5px;
    background-color: rgb(236, 235, 235);
}

.card h6 {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-self: center;
    margin: 0;
}

.card span {
    display: flex;
    margin: 5px;
    font-size: 10px;
    font-family: "Gill Sans", sans-serif;
}