body{
    background-color: rgb(41, 40, 40);
}




nav{
    display: flex;
    align-items: center;
    
   
   
    height: 70px;


}

nav img{
    
    width: 100px;
    height: 80px;
    
    
}
.firstDiv{
    display: flex;
    align-items: center;
}

span{
    padding-left:55px;
    color: rgb(216, 216, 216);
    font-family: Impact, fantasy;
    font-size: 20px;
    
}
main{
    font-size:20px;
}
h3{
    color: rgb(216, 216, 216);
    font-family: Impact, fantasy;
    margin-left: 40px;
}
.catalogo1 h3{
    position: fixed;
    margin-top: -80px;
}
.catalogo1{
    display: flex;
    align-items: center;
    justify-content: baseline;
    
    height: 100px;
    padding-bottom: 40px;
    padding-left: 0%;
    padding-top: 40px;
    
}
.card{
    display: flex;
    flex-direction: column;
    padding:50px;
    
    width: 40px;
    height: 50px;
    
}
.card img{
    width: 130px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
}

.catalogo2{
    display: flex;
    align-items: center;
    justify-content: baseline;
    
    height: 100px;
    
    padding-left: 0%;
    margin-top: 20px;
    padding-bottom: 40px;
}
.catalogo2 h3{
    position: fixed;
    margin-top: -80px;

}
.catalogo3{
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-bottom: 40px;
    height: 100px;
    
    padding-left: 0%;
    margin-top: 20px;
}

.catalogo3 h3{
    position: fixed;
    margin-top: -80px;
}