
.Card {
    display: flex;
    align-items: center;
    width: 80%;
    margin:10% 5% ;
    height: 50vh;
    padding: 20px;
    border-radius: 8px;
    background-color: antiquewhite;
    gap: 20px;
    font-size: 15px;
    
    img{
        width:40%;
        background-color: rgb(228, 248, 248);
        border-radius: 100%;
    }
    .data{
        display: flex;
        flex-direction: column;
        
        li{
            list-style: none;
        }
    
    }
    
    
}
