.Footer{
    margin-top: 40%;
    display: flex;
    width: 100vw;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;

}
.tribute{
    padding-left: 2rem ;
    width: 70vw;
}
.footerImg {
    width: 30%;
}
